<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home Page <%=1+4+7%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio laboriosam aspernatur dolores enim nobis omnis
        molestiae minima officia sed non, nisi repellendus maxime quaerat perferendis veniam possimus tempora beatae
        dolorum?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eius laboriosam eum ab. Repellendus, omnis
        laboriosam porro eum inventore culpa, doloribus assumenda obcaecati natus ipsum, explicabo pariatur dignissimos
        ab! Quaerat.</p>
</body>

</html>